---
import { Image } from 'astro:assets';
import AccordionCourse from '../../components/ui/AccordionCourse.astro';
import ListDetalist from '../../components/ui/ListDetalist.astro';
import ItemListCourse from '../../components/ui/ItemListCourse.astro';
import HomeSvg from '../../components/svgs/Home_svg.astro';
import ListSvg from '../../components/svgs/List_svg.astro';
import GiftSvg from '../../components/svgs/Gift_svg.astro';
import ShopSvg from '../../components/svgs/Shop_svg.astro';
import Layout from '../../layouts/Layout.astro';

import data from '../../mock/cursos.json';
import el from '@master/styled.react';
import HeroButton from '../../components/ui/HeroButton.astro';

/**
 * Función que devuelve las rutas de las páginas
 */
export function getStaticPaths() {
	return data.map((item) => {
		return {
			params: { curso: item.key },
			props: { item },
		};
	});
}

const { curso } = Astro.params;
const { item } = Astro.props;

const SubTitleCourse = el.h2`text-2xl w-full font-bold underline text-center md:text-start inline-flex gap-2 items-center justify-center md:justify-start`;
---

<Layout title=`La casa informática | Curso de ${curso}` howIsActive='cursos'>
	<main class='flex flex-col md:flex-row justify-center md:justify-around gap-4 py-4 px-4 bg-zinc-200 dark:bg-zinc-900'>
		<section>
			<SubTitleCourse>
				<HomeSvg /> {item.title}
			</SubTitleCourse>
			<p class='max-w-2xl text-center md:text-start my-4'>{item.description}</p>
			<article>
				<SubTitleCourse>
					<ListSvg /> Temario Del Curso
				</SubTitleCourse>
				<div class='hs-accordion-group flex flex-col gap-2 my-6'>
					{item.syllabus.map((item) => <AccordionCourse list={item} />)}
				</div>
			</article>
			<article>
				<SubTitleCourse>
					<GiftSvg /> Que Incluye Este Curso
				</SubTitleCourse>
				<ul class='space-y-3 max-w-xl my-4'>
					<ItemListCourse text='Prácticas' />
					<ItemListCourse text='Exámenes' />
					<ItemListCourse text='Proyectos' />
					<ItemListCourse text='Clases en vivo' />
					<ItemListCourse text='Las Clases quedan grabadas' />
					<ItemListCourse text='Seguimiento personalizado' />
				</ul>
			</article>
		</section>
		<aside
			class='bg-zinc-100 dark:bg-black rounded-xl mx-auto md:mx-0 size-fit p-4 flex flex-col justify-center items-center'
		>
			<div>
				<h4 class='text-center font-medium text-xl my-2 underline'>Detalles del Curso</h4>
				<Image width={414} height={200} src={item.banner_secondary} alt={item.img_alt} class={'rounded-2xl'} />
			</div>
			<section class='w-full'>
				<ul class='flex flex-col mt-2 gap-2'>
					<ListDetalist text='Profesor:' detail={item.tags.teacher} />
					<ListDetalist text='Clases:' detail={item.tags.num_classes} />
					<ListDetalist text='Horas de video:' detail={item.tags.duration_hrs} />
					<ListDetalist text='Precio:' detail={`S/. ${item.tags.price}`} />
					<ListDetalist text='Horario:' detail={item.tags.program} />
					<ListDetalist text='Inicio:' detail={item.tags.start} />
					<ListDetalist text='Final:' detail={item.tags.end} />
				</ul>
				<div class='my-4 flex justify-center flex-col'>
					<HeroButton link={item.link_shop} text='Adquirir Ahora' type='white'>
						<ShopSvg />
					</HeroButton>
				</div>
			</section>
		</aside>
		
	</main>
</Layout>
