---
import CardProduct from '../components/ui/CardProduct.astro';
import Layout from '../layouts/Layout.astro';
import data from '../mock/productos.json';
---

<Layout title='La casa informática | Listos para guiarte hacia la digitalización' howIsActive='productos'>
	<section class='py-6 px-4 bg-zinc-200 dark:bg-zinc-900'>
		<h2 class='text-3xl font-bold underline text-center'>Nuestros Productos</h2>
		<div class='flex flex-wrap justify-center py-4 gap-4'>
			{
				data.map((item) => (
					<CardProduct
						name={item.name}
						description={item.description}
						price={item.price}
						img_url={item.img_url}
						link={item.link}
						sending={item.sending}
					/>
				))
			}
		</div>
	</section>
</Layout>
